*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

header {
    background: rgb(140, 175, 175);
    padding: 10px 0;
    height: 25vh;
}

header>h1 {
    text-align: center;
}

#newBookButton {
    background: tomato;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin: 25px auto;
    cursor: pointer;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    background: teal;
    height: 50vh;
    width: 60vw;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

@media (max-width: 50em) {
    .inputContainer {
        width: 95vw;
    }
}

.inputUpperContainer {
    display: flex;
    width: 95%;
    flex-direction: column;
}

.closeBtn {
    display: flex;
    width: 25px;
    height: 25px;
    margin-left: auto;
    background: rgba(245, 245, 245, 0.164);
    color: rgb(172, 3, 3);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.inputUpperContainer>input {
    width: 100%;
    height: 5vh;
    margin: 10px 0;
    display: flex;
}

.inputLowerContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.inputLowerContainer>button {
    width: 15vw;
    height: 5vh;
    display: flex;
    font-size: 26px;
    justify-content: center;
    align-items: center;
}

.checkboxContainer {
    display: flex;
    align-items: center;
}

#readCheck {
    width: 30px;
    height: 30px;
    font-size: 20px;
}

#readCheckLabel {
    font-size: 20px;
}

#shelf {
    display: flex;
    flex-wrap: wrap;
    background: teal;
    min-height: 70vh;
    width: 100%;
    padding: 20px;
    justify-content: center;
    gap: 50px;
}


.book {
    border: solid 2px black;
    height: fit-content;
    width: 35vw;
}

footer {
    background: rgb(0, 92, 92);
    height: 5vh;
}

.hidden {
    display: none;
}